<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VetClinicApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="ConnString" connectionString="server=sql5.freemysqlhosting.net;database=sql5461041;uid=sql5461041;pwd=fI3i9Niy5C;"/>
    </connectionStrings>
    <userSettings>
        <VetClinicApp.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Role" serializeAs="String">
                <value />
            </setting>
        </VetClinicApp.Properties.Settings>
    </userSettings>
</configuration>